<html>
  <body align="center">
       
    Name <input type="text" name="name" [(ngModel)]="name"><br><br>
    Category <input type="text" name="category" [(ngModel)]="category"><br><br>
    Price <input type="text" name="price" [(ngModel)]="price"><br><br>
    Quantity <input type="number" name="quantity" [(ngModel)]="quantity"><br><br>
    <button type="button" class="btn btn-primary" (click)="addToCart()"> Add To cart</button><br><br>

    <!--<a routerLink="/viewAllvegetable">viewAllvegetable</a><br><br>

    <a routerLink="/increaseVegQuantity">increaseVegQuantity</a><br><br>

    <a routerLink="/DecreaseVegQuantity">DecreaseVegQuantity</a>-->


</body>
</html>

