<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="www.capgemini.com" class="navbar-brand">Capgemini</a></div>&nbsp;&nbsp;
  <ul class="navbar-nav">
    <!--replace with routerLink instead of so that page will not be refreshed every time-->
  <li><a  routerLink="/home" class="navbar-link">HOME</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/about" class="navbar-link">About</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/contactUs" class="navbar-link">ContactUs</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/feedback" class="navbar-link">Feedback</a></li>&nbsp; &nbsp;
  </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a  routerLink="/login" class="navbar-link">Login</a></li>&nbsp; &nbsp;
    <li><a routerLink="/logout" class="navbar-link">Logout</a></li>&nbsp; &nbsp;
   </ul>
   </nav>
  </header>
<p>Add Your Product. 
  Now, is the time to create a product. Click on the “Add New Product” button to add a category of the organic vegetables. 
  Fill out the details asked. Click on the “Submit” button after filling out the details to sell organic vegetables online. 
  Repeat this step for adding more products</p>

  <a href="India">India : +91 9856321252</a>&nbsp;&nbsp;
  <a href="America" >America : +14842989063</a>