<html>
  TransactionMode<input type="text" class="form-control" name="transactionMode" [(ngModel)]="bill.transactionMode"><br><br>
  TransactionDate<input type="date" class="form-control" name="transactionDate" [(ngModel)]="bill.transactionDate"><br><br>
  TransactionStatus<input type="text" class="form-control" name="transactionStatus" [(ngModel)]="bill.transactionStatus"><br><br>
  <!--Address<input type="text" class="form-control" name="billingAddress" [(ngModel)]="billingAddress"><br><br>
  Enter BuilduingName:<input type="text" class="form-control" name="buildingName" [(ngModel)]="bill.billingAddress.buildingName">
  Enter Area:<input type="text" class="form-control" name="area" [(ngModel)]="bill.billingAddress.area">
  Enter City:<input type="text" class="form-control" name="city" [(ngModel)]="bill.billingAddress.city">
  <label for="State">Enter State</label>
  <select name="state" [(ngModel)]="bill.billingAddress.state">
    <option value="Select">Select</option>
    <option value="Andhrapradesh">Andhrapradesh</option>
    <option value="Telangana">Telangana</option>
    <option value="MadhyaPradesh">MadhyaPradesh</option>
    <option value="Kerala">Kerala</option>
    <option value="Uttar Pradesh">Uttar Pradesh</option>
    <option value="Maharastra">Maharastra</option>
  </select><br><br>
  Enter PinCode:<input type="number" class="form-control" name="pinCode" [(ngModel)]="bill.billingAddress.pinCode">-->
  <button type="button" class="btn btn-info" (click)="Submit()">Submit</button>
</html>
