
  <!--<head>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="home">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="contactUs">ContactUs</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="feedback">Feedback</a></li>
        <li><a routerLink="#">Logout</a></li>
      </ul>
    </div>
  </nav>-->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="www.capgemini.com" class="navbar-brand">Capgemini</a></div>&nbsp;&nbsp;
    <ul class="navbar-nav">
      <!--replace with routerLink instead of so that page will not be refreshed every time-->
    <li><a  routerLink="/home" class="navbar-link">HOME</a></li>&nbsp; &nbsp;
    <li><a  routerLink="/about" class="navbar-link">About</a></li>&nbsp; &nbsp;
    <li><a  routerLink="/contactUs" class="navbar-link">ContactUs</a></li>&nbsp; &nbsp;
    <li><a  routerLink="/feedback" class="navbar-link">Feedback</a></li>&nbsp; &nbsp;
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a  routerLink="/login" class="navbar-link">Login</a></li>&nbsp; &nbsp;
      <li><a routerLink="/logout" class="navbar-link">Logout</a></li>&nbsp; &nbsp;
     </ul>
     </nav>
    </header>


  <div id="slider">
    <figure>
  <img src="./assets/images/veg.jpg" height="800px" width="1500px">
</figure>
</div>
  

  
