<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="www.capgemini.com" class="navbar-brand">Capgemini</a></div>&nbsp;&nbsp;
  <ul class="navbar-nav">
    <!--replace with routerLink instead of so that page will not be refreshed every time-->
  <li><a  routerLink="/home" class="navbar-link">HOME</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/about" class="navbar-link">About</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/contactUs" class="navbar-link">ContactUs</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/feedback" class="navbar-link">Feedback</a></li>&nbsp; &nbsp;
  </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a  routerLink="/login" class="navbar-link">Login</a></li>&nbsp; &nbsp;
    <li><a routerLink="/logout" class="navbar-link">Logout</a></li>&nbsp; &nbsp;
   </ul>
   </nav>
  </header>
  
  <p>E-Commerce Website to Sell Vegetables Online When the blueprint for product portfolio and order fulfilment is set, the next step is to start setting up your eCommerce website.
    For a website selling vegetables, there a few things to consider before your customize and start marketing your store.</p>
  <div id="slider">
    <figure>
  <img src="./assets/images/veg.jpg" height="700px" width="1000px">
</figure>
</div>
  
  
  

